<div phx-window-keyup="keypress">
  <div class="bread-crumbs">
    <%= for x <- @cwd do %>
    <span class="bread-crumb"><%= x %></span>
    <% end %>
  </div>
  <%= live_component @socket, FsxWeb.LsComponent,
    id: "ls", vsn: @vsn, cwd: @cwd, root: @root, selected: @selected %>
</div>
